.DS_Store
.git/
.gitignore
.astro/
.vscode/

.editorconfig
.idea
coverage*

compose.yaml
docker-compose*
.dockerignore
Dockerfile*
helm-charts

dist/
node_modules/
scripts/
k8s/

Makefile
README.md
LICENSE

!scripts/docker

.env*

*.example

*.gz
*.zip
*.tar