@theme {
    --color-base-50: oklch(0.177 0.002 106.5);
    --color-base-100: oklch(0.223 0.002 67.71);
    --color-base-200: oklch(0.309 0.004 84.54);
    --color-base-300: oklch(0.398 0.005 91.46);
    --color-base-400: oklch(0.482 0.007 84.55);
    --color-base-500: oklch(0.569 0.008 88.63);
    --color-base-600: oklch(0.664 0.009 84.55);
    --color-base-700: oklch(0.751 0.01 87.44);
    --color-base-800: oklch(0.836 0.012 89.69);
    --color-base-900: oklch(0.922 0.007 88.56);
    --color-base-950: oklch(0.964 0.003 84.4);

    --color-accent-50: oklch(0.956 0.022 250.2);
    --color-accent-100: oklch(0.922 0.039 249.43);
    --color-accent-200: oklch(0.833 0.088 244.44);
    --color-accent-300: oklch(0.753 0.142 238.75);
    --color-accent-400: oklch(0.666 0.143 237.02);
    --color-accent-500: oklch(0.591 0.127 237.01);
    --color-accent-600: oklch(0.497 0.107 236.92);
    --color-accent-700: oklch(0.409 0.089 237.52);
    --color-accent-800: oklch(0.316 0.069 237.35);
    --color-accent-900: oklch(0.231 0.049 236.92);
    --color-accent-950: oklch(0.176 0.038 235.69);

    --color-secondary-50: #e8e8e8;
    --color-secondary-100: #ddddde;
    --color-secondary-200: #c6c6c8;
    --color-secondary-300: #afafb1;
    --color-secondary-400: #9a9a9d;
    --color-secondary-500: #838386;
    --color-secondary-600: #6c6c6f;
    --color-secondary-700: #58585b;
    --color-secondary-800: #414143;
    --color-secondary-900: #2b2b2c;
    --color-secondary-950: #202021;

    --color-text-primary: oklch(0.2101 0.0318 264.66);
    --color-text-secondary: oklch(0.3729 0.0306 259.73);
    --color-text-tertiary: oklch(0.551 0.0234 264.36);

    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

@layer base {
    [data-theme='dark'] {
        --color-base-50: #e5e5ea;
        --color-base-100: #d1d1d6;
        --color-base-200: #c7c7cc;
        --color-base-300: #aeaeb2;
        --color-base-400: #8e8e93;
        --color-base-500: #636366;
        --color-base-600: #48484a;
        --color-base-700: #3a3a3c;
        --color-base-800: #2c2c2e;
        --color-base-900: #1c1c1e;
        --color-base-950: #141416;

        --color-text-primary: oklch(0.9846 0.0017 247.84);
        --color-text-secondary: oklch(0.8717 0.0093 258.34);
        --color-text-tertiary: oklch(0.7137 0.0192 261.32);
    }
}
