---
// FOR: future implementaion.

import Layout from '@layouts/Layout.astro'
//import ProjectCard from '@components/ProjectCard.astro'
---

<Layout
    title="Orion C. Riker | My Projects"
    description="Orion C. Riker's portfolio"
    page="projects"
>
    <section class="py-16">
        <div class="page-container">
            <h2 class="page-heading">Projects</h2>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <h1 class="text-4xl">Work in progress...</h1>
            </div>
        </div>
    </section>
</Layout>
